:root {
    --blue-background-color: #6686F9;
    --grey-contrast-color: #ffffff8a;
    --main-background-color: #FEFAF6;
}

* {
    box-sizing: border-box;
    font-family: "Inter Tight", sans-serif;
    margin: 0;
    padding: 0;
    font-size: 10px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

header {
    background-color: rgb(255, 255, 255, 0.7);
    position: fixed;
    width: 100%;
    backdrop-filter: blur(6px);
    top: 0;
    border-bottom: 1px solid gray;
    z-index: 999;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3%;
    min-height: 6rem;
    z-index: 999;
}

.nav-list {
    display: flex;
    column-gap: 40px;
}

.navbar {

}

.nav-element {

}

.nav-links {
    color: rgba(0, 0, 0, 0.65);
    font-weight: 500;
    font-size: 1.5rem;
    transition: color 0.4s;
}

.nav-links:hover {
    color: rgba(0, 0, 0, 1);
    font-weight: 550;
}

ul {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

h1 {
    color: #000;
    font-size: 2.5rem;
    letter-spacing: -1px;
    font-weight: 700;
}

main {
    margin-top: 6rem;
}

section {
    background-color: var(--main-background-color);
}

.welcome-banner {
    background-color: rgba(0, 0, 0, 1);
    text-align: center;
    align-items: center;
    height: 2rem;
}

.welcome-banner h3 {
    color: rgba(255, 255, 255, 1);
    font-size: 1.25rem;
    padding-top: 0.2rem;
    letter-spacing: 0.25px;
}

.blue-box {
    background-color: var(--blue-background-color);
    width: 800px;
    height: calc(100vh - 8rem);
}

.profile-picture {
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 250px;
    height: 250px;
    bottom: 30%;
    left: 62rem;
    aspect-ratio: 1.25/3;
    z-index: 2;
    position: absolute;
}

.profile-text {
    bottom: 20%;
    left: 92rem;
    max-width: 450px;
    position: absolute;
    z-index: 2;
}

.profile-text h1 {
    color: var(--blue-background-color);
    font-size: 4rem;
}

.profile-text h3 {
    margin-top: 20px; 
    font-size: 3rem;
}

.profile-text h4 {
    margin-top: 20px;
    font-size: 2.25rem;
}

#projects {
    text-align: center;
    width: 100%;
    height: 100vh;
}

.blue-box-two {
    background-color: var(--blue-background-color);
    grid-column: 2 / 3;
    grid-row: 1 / -1;
}

#projects {
    display: grid;
    grid-template-columns: 800px 800px;
    grid-template-rows: 10% 80% 10%;
}

#projects h1 {
    font-size: 4rem;
    text-decoration: underline;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: flex;
    justify-content: end;
    margin-right: 10px;
    padding-top: 5px;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 5px;
    height: 80vh;
    width: 80%;
    margin: 5% 5% 0 5%;
    grid-column: 1 / 3;
    grid-row: 1 / -1;
}

.project-tile {
    background-color: #000;
    width: 340px;
    height: 270px;
    overflow: hidden;
}

.project-name {
    background-color: var(--grey-contrast-color);
    margin-top: 210px;
    height: 45px;
    padding-top: 8px;
    color: rgba(255, 255, 255, 1);
    font-size: 2rem;
    letter-spacing: 1px;
}

.all-projects {
    margin: 8px 0 60px 0;
    height: 50px;
    width: 100px;
    background-color: black;
    color: rgba(255, 255, 255, 1);
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    transition: font-size 4s;
    transition: color 2s;
    grid-column: 1 / -1;
    grid-row: 3 / -1;
    margin-left: 45%;
}

.all-projects:hover {
    font-size: 1.75rem;
    color: rgba(255, 255, 255, 2);
}

#tech-stack-and-contact {
    height: 100vh;
    width: 100%;
}

.grid-container {
    height: 100vh;
    display: grid;
    grid-template-columns: 800px 1fr;
    grid-template-rows: 90% 10%;
}

.tech-stack {
    grid-column: 2 / -1;
    grid-row: 1 / 2;
}

.tech-stack h2 {
    margin: 15px auto;
    text-align: center;
    font-size: 3.5rem;
}

.tech-logos {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px 45px;
    height: 80%;
    padding: 20px;
}

.tech-logos i {
    width: 33%;
    padding-left: 8%;
    margin-bottom: 10px;
}

.contact {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-color: var(--blue-background-color);
}

.contact h2 {
    color: rgba(255, 255, 255, 1);
    font-size: 3.5rem;
    text-align: center;
    margin-top: 15px;
}

form {
    margin-top: 50px;
    margin-left: 150px;
    text-align: center;
    width: 520px;
}

form div input {
    margin-bottom: 10px;
    padding-left: 5px;
}

.form-name input {
    width: 258.5px;
    height: 50px;
    font-size: 2rem;
}

.form-email input {
    width: 100%;
    height: 50px;
    font-size: 2rem;
}

.form-message textarea {
    width: 100%;
    height: 300px;
    font-size: 2rem;
    padding-left: 5px;
}

.form-submit {
    margin-top: 20px;
    width: 120px;
    height: 50px;
    font-size: 2.5rem;
}

.socials {
    grid-column: 1 / -1;
    grid-row: 2 / 3;
    background-color: rgba(0, 0, 0, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: rgba(255, 255, 255, 1);
    overflow: hidden;
}

.socials h2 {
    font-size: 3rem;
    padding-left: 3%;
}

.socials-icons {
    padding-right: 3%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

.socials-icons i {
    overflow: hidden;
}

.socials-icons a {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}


